<%= render 'shared/navbar' %>
<h1> Game show page </h1>


  <div class="container">
      <div class="row">
          <div class="col-5 m-auto">
            <% if @game.is_sold == true || @game.in_cart == true%>
              <h5>Sorry this game has been sold! :(</h5>
              <% else %>
              <%= render 'shared/card', game: @game %>
            <% end %>
          </div>
      </div>
  </div>

