<%= render 'shared/navbar' %>
<h1> Game show page </h1>


  <div class="container">
      <div class="row">
          <div class="col-5 m-auto">
            <% if @game.sold != true %>
              <%= render 'shared/card', game: @game %>
          </div>
      </div>
  </div>

